{% extends 'base.html' %}

{% block content %}
<br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <span class="heading">
                        <h4>Verizon Wireless Forwarded Numbers </h4>
                        <i class="glyphicon glyphicon-phone"></i>
                    </span>

                </div>

                <div class="pricingContent">
                    <ul>
                        <li>Highest Quality numbers</li>
                        <li>Premium Results</li>
                        <li>Manually processed within 2-4 Days</li>
                        <li>Multiple Durations</li>
                        <li>100% Guaranteed working for ANY PVA!</li>
                        <li>Geo Locations</li>
                    </ul>
                </div><!-- /  CONTENT BOX-->

                <div class="pricingTable-sign-up">
                    <a href="#" class="btn btn-block btn-default">See more</a>
                </div><!-- BUTTON BOX-->
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <span class="heading">
                        <h4>4g Verizon Line Network <br>(4g-VLPN)</h4>
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="pricingContent">
                    <ul>
                        <li>3G/4G offers wider coverage</li>
                        <li>Never logout of Team View to change IP</li>
                        <li>One IP covers it all</li>
                        <li>3G/4G is faster than RDSL</li>
                        <li>One button click to change IP</li>
                        <li>No Proxies & Unlimited IP Pool</li>
                    </ul>
                </div><!-- /  CONTENT BOX-->

                <div class="pricingTable-sign-up">
                    <a href="#" class="btn btn-block btn-default">see more</a>
                </div><!-- BUTTON BOX-->
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <span class="heading">
                        <h4>Phone Verified Accounts (PVA’s)</h4>
                        <i class="fa fa-check"></i>
                    </span>
                </div>

                <div class="pricingContent">
                    <ul>
                        <li>Bulk PVA creation for any website SMS or Voice.</li>
                        <li>Verizon Wireless numbers and Yahoo PVA emails used</li>
                        <li>Google Docs used for maintaining information</li>
                        <li>Guaranteed to be in good standing for 10 days</li>
                    </ul>
                </div><!-- /  CONTENT BOX-->

                <div class="pricingTable-sign-up">
                    <a href="#" class="btn btn-block btn-default">See more</a>
                </div><!-- BUTTON BOX-->
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="pricingTable">
                <div class="pricingTable-header">
                    <span class="heading">
                        <h4>Development</h4>
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="pricingContent">
                    <ul>

                        <li>Fast Delivery</li>
                        <li>Low pricing</li>
                        <li>Helping you to improve your ideas</li>
                        <li>We can make ANY <br> - Script<br>- Website <br> - Design</li>
                        <li>Confidentiality</li>
                    </ul>
                </div><!-- /  CONTENT BOX-->

                <div class="pricingTable-sign-up">
                    <a href="#" class="btn btn-block btn-default">contact us</a>
                </div><!-- BUTTON BOX-->
            </div>
        </div>
        </div>
        </div>
    </div>
</div>

    <br><br><br><br><br>

{% endblock %}