{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Title and description ================================================== -->
    <title>
    Request a Server &ndash; rotateincloud.com
    </title>
    <meta name="description" content="">
    <!-- Social meta ================================================== -->
    <meta property="og:type" content="product">
    <meta property="og:title" content="<h2>4g Verizon Line Network (4g-VLPN)</h2>">
    <!-- Helpers ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#e42c00">
    <!-- CSS ================================================== -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style2.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cabin:500" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body id="4g Verizon Line Network (4g-VLPN)" class="template-product" >

  <main class="wrapper main-content" role="main">
      <br>
      <br>
    <div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="https://vipnlines.myshopify.com/products/california-verizon-ip-network-line-vipn?variant=26678043721">
    <meta itemprop="image" content="//cdn.shopify.com/s/files/1/1497/3014/products/Server-desktop_edeecc9f-e961-4e34-ae70-01aa95a9e1b4_grande.jpg?v=1476983167">


        {% if success %}
            <div class="alert alert-success">
                 <strong>Success, your message was sent!</strong>
            </div>
            <div class="col-md-12">
        {% endif %}


        <br><br>


         <div class="product-single">
             <div class="grid product-single__hero">
                 <div class="grid__item large--one-half">


                     <div class="product-single__photos" id="ProductPhoto">
                         <img src="http://www.prepaidwireless.com/media/catalog/product/cache/2/image/9df78eab33525d08d6e5fb8d27136e95/v/e/verizon-wireless-prepaid-pay-as-you-go_1.jpg" alt="1-Day Verizon Forwarded Phone Numbers (Delivery in 4-6 business days)" id="ProductPhotoImg" data-image-id="16909388361"></div>


        <ul class="gallery" class="hidden">

          <li data-image-id="16909388361" class="gallery__item" data-mfp-src="//cdn.shopify.com/s/files/1/1497/3014/products/Verizon-iPhone-640x474_1024x1024.png?v=1478082226"></li>

        </ul>


      </div>
      <div class="grid__item large--one-half">

        <h1 itemprop="name" content="Verizon Forwarded Phone Numbers">Verizon Forwarded Phone Numbers</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="USD">
          <link itemprop="availability" href="http://schema.org/InStock">
            <!--
          <div class="product-single__prices">
            <span id="ProductPrice" class="product-single__price" itemprop="price" content="4.0">
              $ Amount
            </span>


          </div>
            -->
          <form action="" method="post" enctype="multipart/form-data" id="AddToCartForm">
              <!--
            <select name="id" id="productSelect" class="product-single__variants">

                <option   selected="selected"  data-sku="" value="2269514399772">1+ - $4.00 USD</option>

            </select>
              -->
            <div class="product-customizer-options" data-product-id="8308077833" data-product-price="200" data-version="1.8.0"><div class="product-customizer-option option-type-text option-required" data-option-id="103697" data-product-option-id="903864" data-option-name="skype-id"><label for="8308077833_option_1">Skype ID</label>
          <div><div class="product-customizer-option-description">So that we can contact you about your order.  If you don't use skype, write NO SKYPE</div><input type="text" id="8308077833_option_1" name="properties[Skype ID]" maxlength="20" placeholder="Skype ID" required="required"/></div>
      </div><div class="product-customizer-option option-type-multiline option-required" data-option-id="103721" data-product-option-id="903867" data-option-name="geo-locations"><label for="8308077833_option_2">Geo Locations</label>
          <div><div class="product-customizer-option-description">Please input the ZIP CODES for the US cities that you need.  We ONLY provide U.S. phone numbers.<br/>MUST BE IN ZIP CODE FORMAT (you can use http://www.unitedstateszipcodes.org) to convert cities to zip codes.</div><textarea id="8308077833_option_2" name="properties[Geo Locations]" maxlength="" placeholder="Geo Locations" required="required"></textarea></div>
      </div><div class="product-customizer-option option-type-text option-required" data-option-id="103730" data-product-option-id="903865" data-option-name="forwarding-phone-number"><label for="8308077833_option_3">Forwarding Phone Number</label>
          <div><div class="product-customizer-option-description">Please provide a U.S. forwarding phone number Only<br/>IMPORTANT: Google Voice and Skype numbers are NOT RECOMMENDED for forwarding.  </div><input type="text" id="8308077833_option_3" name="properties[Forwarding Phone Number]" maxlength="30" placeholder="MUST be a US telephone number" required="required"/></div>
      </div><div class="product-customizer-option option-type-text option-required" data-option-id="103708" data-product-option-id="1216758" data-option-name="shipping-email-address"><label for="8308077833_option_4">Shipping Email Address</label>
          <div><div class="product-customizer-option-description">Where shall we ship your order when completed?</div><input type="text" id="8308077833_option_4" name="properties[Shipping Email Address]" maxlength="35" placeholder="Shipping Email Address" required="required"/></div>
      </div><div class="product-customizer-option option-type-text option-required" data-option-id="115634" data-product-option-id="956980" data-option-name="how-many-numbers-per-day"><label for="8308077833_option_5">How many numbers per day?</label>
          <div><div class="product-customizer-option-description">order 25 numbers or less no maximum<br/>order 50 numbers - 25 max per day<br/>order 100 numbers - 50 max per day<br/>order 250 numbers - 75 max per day<br/>order 500 numbers - 100 max per day<br/>order 1000 numbers - 200 max per day</div><input type="text" id="8308077833_option_5" name="properties[How many numbers per day?]" maxlength="" placeholder="" required="required"/></div>
      </div><div class="product-customizer-option option-type-select option-required" data-option-id="115635" data-product-option-id="956981" data-option-name="how-many-days-per-week"><label for="8308077833_option_6">How many days per week?</label>
          <div><div class="product-customizer-option-description">For number delivery</div><span class="product-customizer-select-wrap">
            <select id="8308077833_option_6" name="properties[How many days per week?]" required="required"><option value="">Please choose one</option><option value="5 days Mon-Friday" data-index="0">5 days Mon-Friday</option><option value="6 days Mon-Saturday" data-index="1">6 days Mon-Saturday</option><option value="7 days per week" data-index="2">7 days per week</option></select>
          </span></div>
      </div><div class="product-customizer-option option-type-multiline " data-option-id="106288" data-product-option-id="903872" data-option-name="special-instructions"><label for="8308077833_option_7">Special Instructions</label>
          <div><div class="product-customizer-option-description">Tell us anything special about delivery of your order</div><textarea id="8308077833_option_7" name="properties[Special Instructions]" maxlength="" placeholder="Special Instructions" ></textarea></div>
      </div></div>

            <div id="shappify-qty-msg"></div>


            <div class="product-single__quantity">
              <label for="Quantity">Quantity</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
            </div>

            <button type="submit" name="add" id="AddToCart" class="btn">
              <span id="AddToCartText">Add to Cart</span>
            </button>
          </form>



          <div class="product-description rte" itemprop="description">
            <div><b><u> </u></b></div>
                <ul>
                <li>Highest Quality numbers for PREMIUM Results</li>
                <li>Geo Targeting</li>
                <li><strong>4-6 Business Days to get numbers, (Business days are Monday-Saturday 7AM-4PM EST)</strong></li>
                <li>100% Guaranteed working for ANY PVA with VOICE verification</li>
                <li>Orders will be delivered to the skype id or email address associated with your account (We prefer skype for faster response)</li>
                <li>keep a look out on skype for a message from us if we can start sooner on your order we will contact you first</li>
                </ul>
          </div>


            <hr class="hr--clear hr--small">






        </div>

      </div>
    </div>
  </div>


<div class="hypervisual__root">

</div>








  </div>




</div>


        </div>
    </div>
  </main>





  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Registration successful</h4>
        </div>
        <div class="modal-body">
          <p>Your registration was successful! In the future you will receive all the latest information and the best offers from our region</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>




        </div>
    </div>
  </main>



      <hr class="hr--small hr--clear">

        <div class="grid">
           <div class="grid__item text-center">
             <ul class="inline-list payment-icons">

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_american_express-54be4e6bfc1dbd42f93af603e102fde2356dfe2372a7dd851074964337533296.svg" alt="american_express">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_bitcoin-4d4d7fba75da840a79283046ed1491138e986b3a57597cd7574fdbfe3f9e5605.svg" alt="bitcoin">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_diners_club-d07838507a213e5e52ef4272d3ccfe3da294642628264cd0934baf6878ceb197.svg" alt="diners_club">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_discover-96a6318d3deeede785ba12114a8d00bd23731f9f16e14ddcd0bdfd5e1d846307.svg" alt="discover">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_jcb-8f8079695e74d5688707997b208994c4d8078baa58b866ed47852cf9674d9332.svg" alt="jcb">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_master-94df290d56a3c6424296953282e18e46895ba94bdef368640eb52f8349915610.svg" alt="master">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_visa-e9f829d15f5ec3b1953ba8b9bc59b448ddb1ec9235ae70c7936178744cb31489.svg" alt="visa">
                 </li>

             </ul>
           </div>
         </div>



       <div class="grid">
         <div class="grid__item text-center">
           <p class="site-footer__links">Copyright &copy; 2017, <a href="/" title="">rotateincloud.com</a></p>
         </div>
       </div>

    </div>

  </footer>

</body>

</html>
