{% extends 'base.html' %}
{% block content %}

    <section id="plans">
        <div class="container">
            <div class="row">


                    <div style="color: white">
                        <h1 class="text-center">Verizon Wireless Forwarded Numbers <br> <h3 class="text-center">(Work's for any verification: Gmail, Craigslist, eBay, PayPal)</h3></h1>
                    </div>
                <br><br>


                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>1-Day Verizon Forwarded Phone Numbers</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$8.00 / ea.</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Highest Quality numbers for PREMIUM Results</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Geo Targeting</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 100% Guaranteed working for ANY PVA with VOICE verification</li>
                        </ul>

                        <div class="panel-footer">
                            <a href="/ForwardedNumbersRequest/" class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>2-hours validity Verizon Wireless Forwarded Numbers</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$6.00 / ea. </strong></p>
                        </div>
                        <ul class="list-group text-center">
                           <li class="list-group-item"><i class="fa fa-check"></i> Highest Quality numbers for PREMIUM Results</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Geo Targeting</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 100% Guaranteed working for ANY PVA with VOICE verification</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="/ForwardedNumbersRequest/" class="btn btn-lg btn-block btn-warning" href="#">BUY NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>60-Day Verizon Forwarded Phone Numbers</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$25.00 / ea.</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Highest Quality numbers for PREMIUM Results</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Geo Targeting</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 100% Guaranteed working for ANY PVA with VOICE verification</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="/ForwardedNumbersRequest/" class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>
        </div>
    </section>
    <!-- /Plans -->

{% endblock %}