{% extends 'base.html' %}
{% block content %}
    <br>
    <div style="color: white">
<h1 class="text-center">Bulk Verizon PVA <br> <h3 class="text-center">MINIMUM ORDER 50 PVA's</h3></h1>
    </div>
    <br><br>
    <section id="plans">
        <div class="container">
            <div class="row">

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Package 1 <br><br> 1 - 50 accounts <br></h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$10.00 / ea.</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Any website SMS or Voice</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Verizon & Gmail or Yahoo email</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 100% Guaranteed to be in good standing for 10 days</li>
                        </ul>

                        <div class="panel-footer">
                            <a href="/PvaRequest/" target="_blank" class="btn btn-lg btn-block btn-danger" href="#">BUY NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Package 2 <br><br> 100 - 250 accounts</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$7.00 / ea. </strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Any website SMS or Voice</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Verizon & Gmail or Yahoo email</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 100% Guaranteed to be in good standing for 10 days</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="/PvaRequest/" target="_blank" class="btn btn-lg btn-block btn-warning" href="#">BUY NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Package 3 <br><br> 250 - 1000 accounts</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$5.00 / ea.</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Any website SMS or Voice</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Verizon & Gmail or Yahoo email</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 100% Guaranteed to be in good standing for 10 days</li>
                        </ul>
                        <div class="panel-footer">
                            <a href="/PvaRequest/" target="_blank" class="btn btn-lg btn-block btn-success" href="#">BUY NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div>
        </div>
    </section>
    <!-- /Plans -->

{% endblock %}