{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- Title and description ================================================== -->
    <title>
    Request a Server &ndash; rotateincloud.com
    </title>

    <meta name="description" content="">
    <!-- Social meta ================================================== -->
    <meta property="og:type" content="product">
    <meta property="og:title" content="<h2>4g Verizon Line Network (4g-VLPN)</h2>">

    <!-- Helpers ================================================== -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#e42c00">
    <!-- CSS ================================================== -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style2.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cabin:500" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>

<body id="4g Verizon Line Network (4g-VLPN)" class="template-product" >

  <main class="wrapper main-content" role="main">
      <br>
      <br>

<div style="color:red" class="text-center"><h1>Request a server</h1></div>

        {% if success %}
            <div class="alert alert-success">
                 <strong>Success, your message was sent!</strong>
            </div>
            <div class="col-md-12">
        {% endif %}


        <br><br>
  <div class="product-single">
    <div class="grid product-single__hero">
      <div class="grid__item large--one-half">
          <div class="product-single__photos" id="ProductPhoto">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Verizon-Wireless-Logo.svg" alt="windows server multiple ip" id="ProductPhotoImg" width="80%" data-image-id="16575468489">
            <img src="https://images-na.ssl-images-amazon.com/images/I/41ONAH%2ByFAL.jpg" alt="windows server multiple ip" id="ProductPhotoImg" data-image-id="16575468489">
          </div>
      </div>



      <div class="grid__item large--one-half">
        <h1 itemprop="name" content="4g Verizon Line Network (4g-VLPN)">4g Verizon Line Network (4g-VLPN)</h1>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <form method="post" enctype="multipart/form-data" id="AddToCartForm">

            <div class="product-customizer-options"><div class="product-customizer-option option-type-text option-required">
                <label for="8157499721_option_1">Location</label>
                    <select name="location" id="location" class="product-single__variants">
                        <option selected="selected"  data-sku="" value="CA">California</option>
                        <option data-sku="" value="NY">New York</option>
                        <option data-sku="" value="AZ">Arizona</option>
                        <option data-sku="" value="TX">Texas</option>
                        <option data-sku="" value="FL">Florida</option>
                        <option data-sku="" value="NJ">New Jersey</option>
                        <option data-sku="" value="TN">Tennessee</option>
                    </select>
            </div>

            <div class="product-customizer-options" data-product-id="8157499721" data-product-price="11000" data-version="1.8.0"><div class="product-customizer-option option-type-text option-required" data-option-id="103697" data-product-option-id="876410" data-option-name="skype-id"><label for="8157499721_option_1">Rental Time</label>
                    <select name="time" id="time" class="product-single__variants">
                        <option data-sku="" value="Weekly - $175.00 USD">Weekly - $175.00 USD</option>
                        <option data-sku="" value="Biweekly - $325.00 USD">Biweekly - $325.00 USD</option>
                        <option data-sku="" value="Monthly - $600.00 USD">Monthly - $600.00 USD</option>
                    </select>
            </div>
            <div class="product-customizer-options"><div class="product-customizer-option option-type-text option-required"><label for="8157499721_option_1">Skype ID</label>
          <div><div class="product-customizer-option-description">So that we can contact you about your order.  If you don't use skype, write NO SKYPE</div><input type="text" id="skypeid" name="skypeid" maxlength="20" placeholder="Skype ID" required="required"/></div>
                <label for="8157499721_option_1">Email</label>
                <input type="text" id="email" name="email" maxlength="20" placeholder="Email" required="required"/>
      </div><div class="product-customizer-option option-type-multiline"><label for="8157499721_option_2">Special Instructions</label>
          <div><div class="product-customizer-option-description">Tell us anything special about delivery of your order</div><textarea id="instructions" name="instructions" maxlength="" placeholder="Special Instructions" ></textarea></div>
      </div><div class="product-customizer-option option-type-select " data-option-id="107837" data-product-option-id="876412" data-option-name="new-rental-or-renew-or-both"><label for="8157499721_option_3">New Rental or Renew or Both</label>
          <div><span class="product-customizer-select-wrap">
            <select id="8157499721_option_3" name="ordertype" ><option value="New VLPN Rental" data-index="0">New VLPN Rental</option><option value="Renewal of Existing VLPN" data-index="1">Renewal of Existing VLPN</option><option value="New VLPN(s) and Renewal(s)" data-index="2">New VLPN(s) and Renewal(s)</option></select>
          </span></div>
      </div><div class="product-customizer-option option-type-text " data-option-id="109632" data-product-option-id="876413" data-option-name="renewals-list-vipn-machines"><label for="8157499721_option_4">Renewals- list VLPN machines</label>
          <div><div class="product-customizer-option-description">Please list your TeamViewer ID number for each machine</div><input type="text" id="8157499721_option_4" name="tvmachine" maxlength="" placeholder="" /></div>
      </div></div>


            <div id="shappify-qty-msg"></div>

            <div class="product-single__quantity">
              <label for="Quantity">Quantity</label>
              <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
            </div>

            <div class="product-single__quantity">
              <label for="payment">Payment method</label>
                <select name="payment" id="payment">
                    <option value="bitcoin">Bitcoin</option>
                    <option value="paypal">PayPal</option>
                    <option value="creditcard">Credit Card</option>
                </select>
            </div>

            {% csrf_token %}
            <button type="submit" name="ServerRequest" data-dismiss="modal" id="SubmitServerOrder" class="btn">
              <span class="btn btn-default" >Submit Order</span>
            </button>
          </form>


            <hr class="hr--clear hr--small">

        </div>

      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">Registration successful</h4>
        </div>
        <div class="modal-body">
          <p>Your registration was successful! In the future you will receive all the latest information and the best offers from our region</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>




        </div>
    </div>
  </main>

  <footer class="site-footer small--text-center" role="contentinfo">

      <hr class="hr--small hr--clear">

        <div class="grid">
           <div class="grid__item text-center">
             <ul class="inline-list payment-icons">

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_american_express-54be4e6bfc1dbd42f93af603e102fde2356dfe2372a7dd851074964337533296.svg" alt="american_express">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_bitcoin-4d4d7fba75da840a79283046ed1491138e986b3a57597cd7574fdbfe3f9e5605.svg" alt="bitcoin">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_diners_club-d07838507a213e5e52ef4272d3ccfe3da294642628264cd0934baf6878ceb197.svg" alt="diners_club">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_discover-96a6318d3deeede785ba12114a8d00bd23731f9f16e14ddcd0bdfd5e1d846307.svg" alt="discover">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_jcb-8f8079695e74d5688707997b208994c4d8078baa58b866ed47852cf9674d9332.svg" alt="jcb">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_master-94df290d56a3c6424296953282e18e46895ba94bdef368640eb52f8349915610.svg" alt="master">
                 </li>

                 <li>
                   <img src="//cdn.shopify.com/s/assets/global/payment_types/creditcards_visa-e9f829d15f5ec3b1953ba8b9bc59b448ddb1ec9235ae70c7936178744cb31489.svg" alt="visa">
                 </li>

             </ul>
           </div>
         </div>



       <div class="grid">
         <div class="grid__item text-center">
           <p class="site-footer__links">Copyright &copy; 2017, <a href="/" title="">rotateincloud.com</a></p>
         </div>
       </div>

    </div>

  </footer>



</html>
